/**
 * GLOBAL
 */

body {
  min-height: var(--viewport-height);

  background-color: var(--colors-white);

  color: var(--color-dark);
  font-family: var(--text-fonts-base);
  font-size: var(--text-sizes-body);
  line-height: var(--text-line-heights-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-fonts-accent);
  font-weight: var(--text-weights-semibold);
}
