/* @import "_variables.css"; */
@import "variables/_generated-variables.css";
@import "variables/_additional-variables.css";
@import "_reset.css";
@import "_global.css";

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300 400 700;
  font-display: swap;
  src: url("../assets/fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2");
}

/* @font-face {
  font-family: InterTest;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
} */

body {
  font-family: Inter;
}

/* FONTS */

/* @font-face {
  font-family: Nunito;
  src: url("../assets/fonts/Nunito-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Nunito;
  src: url("../assets/fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Nunito;
  src: url("../assets/fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Nunito;
  src: url("../assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
} */
