.u-text-decoration-underline {
  text-decoration: underline;
}

.u-text-decoration-dash-underline {
  /* text-decoration: underline;
  text-decoration-thickness: 1px; */
  /* background-color: rgba(var(--dark-rgb), .1); */
  /* border-top: 1px solid var(--dark);
  border-bottom: 3px solid var(--dark); */
  padding-top: 1px;
  padding-bottom: 3px;
  background-color: rgba(var(--dark-rgb), .1);
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA3SURBVHgBrc25CQAwDENRJfvvlNEUXLg0lo8P6gQPJJ8NYhfdVKkvqNJcyKQ9IZLKwlGPrpSFDxhFKSJH9zZvAAAAAElFTkSuQmCC'); */
  /* background-image: url('/img/caller-patern-2x-50pct.png'); */
  background-size: 6px;
  background-repeat: repeat;
  /* box-shadow: 2px 2px 0 0 rgba(var(--dark-rgb), .5); */
  /* color: var(--light); */
  font-weight: var(--font-weight-bold);

  &:before,
  &:after {
    content: '\00a0';
  }
}

.u-text-decoration-none {
  text-decoration: none;
}
