.u-hide {
  display: none !important;
}

.u-show {
  display: block !important;
}

.u-visible {
  visibility: visible !important;
}

.u-hidden {
  visibility: hidden !important;
}

.u-show-print {
  display: none !important;

  @media print {
    display: block !important;
  }
}

.u-hide-print {
  @media print {
    display: none !important;
  }
}

.u-show-screen {
  display: none !important;

  @media screen {
    display: block !important;
  }
}

.u-hide-screen {
  @media screen {
    display: none !important;
  }
}

.u-hide-visually {
  position: absolute;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.u-text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.u-hide-xxs {
  @media (--xxs) {
    display: none !important;
  }
}

.u-hide-xs {
  @media (--xs) {
    display: none !important;
  }
}

.u-hide-xs-up {
  @media (--xs-up) {
    display: none !important;
  }
}

.u-hide-xs-down {
  @media (--xs-down) {
    display: none !important;
  }
}

.u-hide-s {
  @media (--s) {
    display: none !important;
  }
}

.u-hide-s-up {
  @media (--s-up) {
    display: none !important;
  }
}

.u-hide-s-down {
  @media (--s-down) {
    display: none !important;
  }
}

.u-hide-m {
  @media (--m) {
    display: none !important;
  }
}

.u-hide-m-up {
  @media (--m-up) {
    display: none !important;
  }
}

.u-hide-m-down {
  @media (--m-down) {
    display: none !important;
  }
}

.u-hide-l {
  @media (--l) {
    display: none !important;
  }
}

.u-hide-l-up {
  @media (--l-up) {
    display: none !important;
  }
}

.u-hide-l-down {
  @media (--l-down) {
    display: none !important;
  }
}

.u-hide-xl {
  @media (--xl) {
    display: none !important;
  }
}

.u-show-xxs {
  display: none !important;

  @media (--xxs) {
    display: block !important;
  }
}

.u-show-xs {
  display: none !important;

  @media (--xs) {
    display: block !important;
  }
}

.u-show-xs-up {
  display: none !important;

  @media (--xs-up) {
    display: block !important;
  }
}

.u-show-xs-down {
  display: none !important;

  @media (--xs-down) {
    display: block !important;
  }
}

.u-show-s {
  display: none !important;

  @media (--s) {
    display: block !important;
  }
}

.u-show-s-up {
  display: none !important;

  @media (--s-up) {
    display: block !important;
  }
}

.u-show-s-down {
  display: none !important;

  @media (--s-down) {
    display: block !important;
  }
}

.u-show-m {
  display: none !important;

  @media (--m) {
    display: block !important;
  }
}

.u-show-m-up {
  display: none !important;

  @media (--m-up) {
    display: block !important;
  }
}

.u-show-m-down {
  display: none !important;

  @media (--m-down) {
    display: block !important;
  }
}

.u-show-l {
  display: none !important;

  @media (--l) {
    display: block !important;
  }
}

.u-show-l-up {
  display: none !important;

  @media (--l-up) {
    display: block !important;
  }
}

.u-show-l-down {
  display: none !important;

  @media (--l-down) {
    display: block !important;
  }
}

.u-show-xl {
  display: none !important;

  @media (--xl) {
    display: block !important;
  }
}
