////////////////////////////////////////////////////////////////////////////////
//
//  IMPORTS/MODULES/_NAVIGATION.SCSS
//
//  Styles for 'Brenner - Site (main)'
//
////////////////////////////////////////////////////////////////////////////////

.navigation {
  flex: 1 1 auto;
  display: flex;
}

.navigation__list {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;

  width: 100%;
  padding-top: rem(4px);
}

.navigation__item {
  flex: 0 0 auto;
  margin-right: $base-spacing;

  font-size: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  & > a {
    border: none;

    text-decoration: none;
    transition: none;

    &:active,
    &:focus,
    &:hover {
      color: $action-color;

      & > .navigation__item__title {
        border-bottom-color: $action-color;
      }
    }
  }
}

.navigation__item__title {
  border-bottom: 2px solid transparent;
  
  vertical-align: middle;

  .navigation__item--iconized & {
    display: none;

    @media (min-width: $desktop) {
      display: inline;
    }
  }
}
