////////////////////////////////////////////////////////////////////////////////
//
//  IMPORTS/MODULES/_PROFICIENCIES-LIST.SCSS
//
//  Styles for 'Brenner - Site (front)'
//
////////////////////////////////////////////////////////////////////////////////

.proficiencies-list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  > li {
    flex: 1 1 100%;
    max-width: 100%; // setting max-width for IE 10 + 11 so flexbox doesn't break border-box sizing

    margin-bottom: $small-spacing;

    @media (min-width: $tablet) {
      flex-basis: 50%;
      max-width: 50%; // setting max-width for IE 10 + 11 so flexbox doesn't break border-box sizing

      padding: 0 $tiny-spacing 0 0;

      &:nth-child(2n) {
        padding: 0 0 0 $tiny-spacing;
      }
    }
  }

  h3 {
    display: block;

    margin: 0;
    padding: rem(10px) $small-spacing rem(8px) $small-spacing; // manual padding values (visually better)

    background-color: $color-dark;

    color: $color-light;
    font-size: rem(18px);
    font-weight: 400;
  }
}

.proficiencies-list__sublist {
  display: block;

  padding: $small-spacing $base-spacing $small-spacing $large-spacing;

  border: $base-border;
  list-style-type: disc;

  > li {
    font-size: rem(18px);
  }
}
