//- variables
- const site = {name: 'Brenner', description: 'Freelance front-end development, CSS architecture & consulting'}
//- - const navigation = [{name: 'blog', title: 'blog', url: '/blog', icon: false, enabled: true}, {name: 'github', title: 'github', url: 'https://github.com/brenner-company', icon: true, enabled: true}, {name: 'twitter', title: 'twitter', url: 'https://twitter.com/brenner_company', icon: true, enabled: true}]
- const navigation = [{name: 'github', title: 'github', url: 'https://github.com/brenner-company', icon: true, enabled: true}, {name: 'twitter', title: 'twitter', url: 'https://twitter.com/brenner_company', icon: true, enabled: true}]
- const clients = [{name: 'att', title: 'Attentia'}, {name: 'app', title: 'Apptweak'}, {name: 'mh', title: 'Mediahuis'}, {name: 'nrc', title: 'NRC'}]
- const email = 'hello&#64;brenner&#46;company';
