.c-header {
  padding: var(--space-s) 0;
}

.c-header__container {
  display: flex;
  justify-content: space-between;
}

.c-header__logo {
  flex: 0 0 auto;
  display: block;

  margin-bottom: 0;
}

.o-brand-logo {
  display: flex;
  align-items: center;

  color: var(--light);
  font-size: 2rem;
  font-weight: var(--font-weight-semibold);
  text-transform: lowercase;
}

a.o-brand-logo {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.o-brand-logo__title {
  display: block;

  margin-left: var(--space-s);
}

.c-navigation {
  flex: 1 1 auto;
  display: flex;
}

.c-navigation__list {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;

  width: 100%;
  /* padding-top: rem(4px); */

  & li {
    margin: 0 var(--space-s) calc(var(--space-s) * -1) 0;

    &:last-child {
      margin-right: 0;
      margin-bottom: calc(var(--space-s) * -1);
    }
  }
}

.c-navigation__item {
  flex: 0 0 auto;
  display: flex;

  font-size: 1.375rem;
  font-weight: var(--font-weight-medium);
}

.c-navigation__link {
  flex: 0 0 auto;
  display: flex;
  align-items: center;

  border-bottom: 3px solid transparent;
  padding-bottom: calc(var(--space-s) - 3px);

  text-decoration: none;
  transition: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:focus,
  &:hover {
    border-bottom-color: var(--light);
  }

  &:focus {
    outline: none;
    outline-offset: 0;
  }

  @nest .c-navigation__item--active > & {
    border-bottom-color: var(--light);
  }
}

.c-navigation__item__title {
  vertical-align: middle;

  .c-navigation__item--iconized & {
    display: inline;

    /* display: none;

    @media (min-width: $desktop) {
      display: inline;
    } */
  }
}