//- variables
- var site = {name: 'Brenner', description: 'Freelance front-end development, UX & consulting'}
- var navigation = [{name: 'blog', title: 'blog', url: '/blog', icon: false, enabled: false}, {name: 'github', title: 'github', url: 'https://github.com/brenner-company', icon: true, enabled: true}, {name: 'twitter', title: 'twitter', url: 'https://twitter.com/brenner_company', icon: true, enabled: true}]
- var clients = [{name: 'nrc', title: 'NRC'}, {name: 'ds', title: 'De Standaard'}, {name: 'mh', title: 'Mediahuis'}, {name: 'att', title: 'Attentia'}]
- var email = 'hello&#64;brenner&#46;company';
