/**
 * SPACINGS
 */

@each $size in (3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl, 4xl) {
  .u-padding-$(size) { padding: var(--dimensions-$(size)) !important; }
  .u-padding-top-$(size) { padding-top: var(--dimensions-$(size)) !important; }
  .u-padding-right-$(size) { padding-right: var(--dimensions-$(size)) !important; }
  .u-padding-bottom-$(size) { padding-bottom: var(--dimensions-$(size)) !important; }
  .u-padding-left-$(size) { padding-left: var(--dimensions-$(size)) !important; }
  .u-padding-inline-$(size) { padding-inline: var(--dimensions-$(size)) !important; }
  .u-padding-block-$(size) { padding-block: var(--dimensions-$(size)) !important; }

  .u-margin-$(size) { margin: var(--dimensions-$(size)) !important; }
  .u-margin-top-$(size) { margin-top: var(--dimensions-$(size)) !important; }
  .u-margin-right-$(size) { margin-right: var(--dimensions-$(size)) !important; }
  .u-margin-bottom-$(size) { margin-bottom: var(--dimensions-$(size)) !important; }
  .u-margin-left-$(size) { margin-left: var(--dimensions-$(size)) !important; }
  .u-margin-inline-$(size) { margin-inline: var(--dimensions-$(size)) !important; }
  .u-margin-block-$(size) { margin-block: var(--dimensions-$(size)) !important; }
}

@each $size in (3xs-2xs, 2xs-xs, xs-s, s-m, s-l, s-xl, m-l, l-xl, xl-2xl, 2xl-3xl, 3xl-4xl) {
  .u-padding-$(size) { padding: var(--dimensions-$(size)) !important; }
  .u-padding-top-$(size) { padding-top: var(--dimensions-$(size)) !important; }
  .u-padding-right-$(size) { padding-right: var(--dimensions-$(size)) !important; }
  .u-padding-bottom-$(size) { padding-bottom: var(--dimensions-$(size)) !important; }
  .u-padding-left-$(size) { padding-left: var(--dimensions-$(size)) !important; }
  .u-padding-inline-$(size) { padding-inline: var(--dimensions-$(size)) !important; }
  .u-padding-block-$(size) { padding-block: var(--dimensions-$(size)) !important; }

  .u-margin-$(size) { margin: var(--dimensions-$(size)) !important; }
  .u-margin-top-$(size) { margin-top: var(--dimensions-$(size)) !important; }
  .u-margin-right-$(size) { margin-right: var(--dimensions-$(size)) !important; }
  .u-margin-bottom-$(size) { margin-bottom: var(--dimensions-$(size)) !important; }
  .u-margin-left-$(size) { margin-left: var(--dimensions-$(size)) !important; }
  .u-margin-inline-$(size) { margin-inline: var(--dimensions-$(size)) !important; }
  .u-margin-block-$(size) { margin-block: var(--dimensions-$(size)) !important; }
}
