////////////////////////////////////////////////////////////////////////////////
//
//  IMPORTS/LAYOUT/_FOOTER.SCSS
//
//  Styles for 'Brenner - Site (main)'
//
////////////////////////////////////////////////////////////////////////////////

.footer-list {
  display: flex;
  flex-wrap: wrap;

  > li {
    flex: 0 0 auto;
    margin-right: $base-spacing;

    > a {
      border: none;

      text-decoration: none;
      transition: none;

      &:active,
      &:focus,
      &:hover {
        color: $action-color;

        & > .footer-list__item__title {
          border-color: $action-color;
        }
      }
    }
  }
}

.footer-list__item__title {
  border-bottom: 1px solid transparent;

  vertical-align: middle;
}
