////////////////////////////////////////////////////////////////////////////////
//
//  IMPORTS/LAYOUT/_HEADER.SCSS
//
//  Styles for 'Brenner - Site (main)'
//
////////////////////////////////////////////////////////////////////////////////

.header {
  display: flex;
  width: 100%;

  &__logo {
    flex: 0 0 rem(72);
    margin-right: $small-spacing;

    @include media($tablet) {
      flex-basis: rem(216);
    }
  }
}

h1,
.logo {
  display: block;
}

h1 {
  margin-bottom: 0;

  font-size: rem(28);
  text-transform: lowercase;
}

.logo {
  &:active,
  &:focus,
  &:hover {
    color: $action-color;
  }
}

.logo__img,
.logo__title {
  vertical-align: middle;
}

.logo__img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin-right: $small-spacing;
}

.logo__title {
  display: none;

  @include media($tablet) {
    display: inline-block;
  }
}
