////////////////////////////////////////////////////////////////////////////////
//
//  BASE/_HELPERS.SCSS
//
//  Styles for 'Brenner - Site (main)'
//
////////////////////////////////////////////////////////////////////////////////

.hidden {
  display: none;
}

.hidden-text {
  @include hide-text;
}

.naked-list {
  margin: 0;
  padding-left: 0;
  
  list-style: none;
}
