////////////////////////////////////////////////////////////////////////////////
//
//  IMPORTS/MODULES/_CLIENT-LIST.SCSS
//
//  Styles for 'Brenner - Full site'
//
////////////////////////////////////////////////////////////////////////////////

.client-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: $small-spacing;

  @include media($tablet) {
    margin-bottom: 0;
  }
}

.client-list__item {
  flex: 1 1 50%;
  max-width: 50%; // setting max-width for IE 10 + 11 so flexbox doesn't break border-box sizing
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  padding: $small-spacing;

  @include media($tablet) {
    flex-basis: 25%;
    max-width: 25%; // setting max-width for IE 10 + 11 so flexbox doesn't break border-box sizing
  }

  > img {
    display: inline-block;
    max-width: 100%;
    // width: auto;
    height: auto;
  }
}
