////////////////////////////////////////////////////////////////////////////////
//
//  IMPORTS/MODULES/_ICONS.SCSS
//
//  Styles for 'Brenner - Full site'
//
////////////////////////////////////////////////////////////////////////////////

.icon {
  display: inline-block;
  width: rem(26);
	height: rem(26);

  margin-right: $tiny-spacing;

  fill: #333333;
  vertical-align: bottom;

  &--email {
    vertical-align: middle;
  }
}
