////////////////////////////////////////////////////////////////////////////////
//
//  IMPORTS/MODULES/_NAVIGATION.SCSS
//
//  Styles for 'Brenner - Full site'
//
////////////////////////////////////////////////////////////////////////////////

.navigation {
  flex: 1 1 auto;
  display: flex;
}

.navigation__list {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;

  width: 100%;
  padding-top: rem(4);
}

.navigation__item {
  flex: 0 0 auto;
  margin-right: $base-spacing;

  font-size: rem(20);

  &:last-child {
    margin-right: 0;
  }

  & > a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:active,
    &:focus,
    &:hover {
      color: $action-color;
    }
  }
}

.navigation__item__title {
  .navigation__item--iconized & {
    display: none;

    @include media($desktop) {
      display: inline;
    }
  }
}
