////////////////////////////////////////////////////////////////////////////////
//
//  IMPORTS/MODULES/_SECTIONS.SCSS
//
//  Styles for 'Brenner - Site (front)'
//
////////////////////////////////////////////////////////////////////////////////

.main__section {
  h2 {
    margin-bottom: $base-spacing;
    padding: $tiny-spacing $small-spacing;

    border: $base-border;
  }
}

.section {
  &--introduction {
    p {
      font-size: rem(17);
    }
  }
}
