/*
ADDITIONAL VARIABLES 
*/

/* @link https://utopia.fyi/space/calculator?c=330,18,1.2,1200,24,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,s-l|s-xl&g=s,l,xl,12 */

:root {
  @utopia spaceScale({
    minWidth: 330,
    maxWidth: 1200,
    minSize: 18,
    maxSize: 24,
    positiveSteps: [1.5, 2, 3, 4, 6, 8],
    negativeSteps: [0.75, 0.5, 0.25],
    customSizes: ["s-l", "s-xl"],
    prefix: "space",
    relativeTo: "viewport-width",
  });
}

/* Predefined viewport height */

:root {
  --viewport-height: 100vh;
}

@supports (height: 100dvh) {
  :root {
    --viewport-height: 100dvh;
  }
}
