////////////////////////////////////////////////////////////////////////////////
//
//  IMPORTS/MODULES/BLOG/_BUTTONS.SCSS
//
//  Styles for 'Brenner - Site (blog)'
//
////////////////////////////////////////////////////////////////////////////////

.button {
  padding: ($tiny-spacing + rem(2)) $small-spacing $tiny-spacing $small-spacing;

  background-color: $color-dark;
  transition: background-color $base-duration $base-timing;
  border-bottom: none;

  color: $color-light;
  text-align: center;

  &:active,
  &:focus,
  &:hover {
    background-color: $interaction-color;
    border-bottom: none;

    color: $color-light;
  }

  &--disabled {
    background-color: $disabled-color;

    pointer-events: none;
    cursor: default;

    &:active,
    &:focus,
    &:hover {
      background-color: $disabled-color;
    }
  }
}