////////////////////////////////////////////////////////////////////////////////
//
//  IMPORTS/MODULES/BLOG/_COMMON.SCSS
//
//  Styles for 'Brenner - Site (blog)'
//
////////////////////////////////////////////////////////////////////////////////

.blog {
  padding: $base-spacing 0;

  @include media($tablet) {
    padding: $large-spacing 0;
  }

  border-bottom: $base-border;
}