////////////////////////////////////////////////////////////////////////////////
//
//  IMPORTS/MODULES/BLOG/_PAGINATION.SCSS
//
//  Styles for 'Brenner - Site (blog)'
//
////////////////////////////////////////////////////////////////////////////////

.blog-pagination {
  display: flex;
  justify-content: space-between;

  @include media($tablet) {
    justify-content: flex-start;
  }
}

.blog-pagination__item {
  flex: 0 0 auto;
  width: calc(50% - 3px);

  @include media($tablet) {
    width: auto;

    &:first-child {
      margin-right: $tiny-spacing;
    }
  }
}