////////////////////////////////////////////////////////////////////////////////
//
//  IMPORTS/MODULES/BLOG/_TYPOGRAPHY.SCSS
//
//  Styles for 'Brenner - Site (blog)'
//
////////////////////////////////////////////////////////////////////////////////

h3,
h4,
h5,
h6 {
  margin: ($base-spacing + $tiny-spacing) 0 $small-spacing;
}

h3 {
  font-size: rem(22);
}

table {
  width: 100%;
  margin-bottom: $small-spacing;

  border: 1px solid lighten($base-border-color, 50%);
  border-collapse: collapse;

  font-size: rem(14);
}

td,
th {
  padding: ($tiny-spacing / 2) $tiny-spacing;

  border: 1px solid lighten($base-border-color, 50%);
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $odd-row-background-color;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: ($small-spacing + $tiny-spacing);
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: $tiny-spacing;
}

abbr {
  text-transform: uppercase;

  &[title] {
    border-bottom: 1px dotted $interaction-color;

    text-decoration: none;
    cursor: help;
  }
}

blockquote {
  padding: $tiny-spacing $small-spacing;
  margin: ($small-spacing + $tiny-spacing) 0;

  border-left: ($tiny-spacing / 2) solid lighten($interaction-color, 40%);

  color: lighten($interaction-color, 15%);

  p:last-child {
    margin-bottom: 0;
  }
}

a[href^="#fn:"],
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: ($tiny-spacing / 3);

  border: none;

  font-weight: 700;
}

.footnotes {
  margin-top: $base-spacing;

  font-size: rem(14);
}

.lead {
  font-size: rem(18);
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 $small-spacing;

  border-radius: 3px;
}